@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    list-style: none;
    text-decoration: none;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.span1 {
    font-size: 150px;
    margin-top: 6%;
    display: block;
}

.span2 {
    font-size: 50px;
    display: block;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory {
    background-color: #C6C6C6;
    border: 5px solid white;
    border-bottom: 5px solid #373737;
    border-right: 5px solid #373737;
    box-shadow: 0 0 0 2px black;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
}

.top-block {
    width: 100%;
    display: flex;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: end;
}

table tr td {
    background-color: #8B8B8B;
    padding: 2px;
    border: 2px solid #373737;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 35px;
    height: 35px;
    position: relative;
	cursor: move;
}

.profile tr td img {
    width: 35px;
    height: 35px;
}
table tr td img {
    width: 35px;
    height: 35px;
}

.profile .avatar {
    background-color: black;
    border: 2px solid #373737;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.profile .avatar img {
    height: calc(4 * 43px + 6px * 3);
    padding: 20px 20px 0 20px;
}

.crafting {
    display: flex;
    justify-content: center;
}
.crafting table tr td {
    width: 40px;
    height: 40px;
}
.arrow {
    align-content: center;
    margin: 0 7px;
}

.arrow img {
    width: 40px;
}

.result {
    display: inline-block;
    align-content: center;
}

.bottom-block {
    width: 100%;
    margin-top: 10px;
}

.bottom-block table {
    width: 100%;
}

.bottom-block table tr td {
    margin-top: 10px;
    height: 38px;
}

.main {
    margin-top: 10px;
}


.drag {
    border: none!important;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
}